/*  */
$default-marginTopAndBotton-title: 10px;
$default-color-delete: red;
$default-color-update: green;
$default-margin: 10px;

.listSubMenu {
    border: 1px solid silver;
    padding: 5px;

    li {
        list-style: none;
        padding: 5px;
    }
}
.titleContent {
    margin-top: $default-marginTopAndBotton-title;
    margin-bottom: $default-marginTopAndBotton-title;
}
.wrapperBtnAdd {
    margin-top: $default-marginTopAndBotton-title;
    padding-bottom: 30px;
}
.IconDelete {
    margin-right: 10px;
    color: $default-color-delete;
}
.IconUpdate {
    color: $default-color-update;
    margin-right: 10px;
}
.icon {
    margin-right: 10px;
}
