.ScrollBar {
  overflow: auto;
  padding: 0 16px;
  max-height: 400px;
  // WebkitScrollBar
  //   ::WebkitScrollbar: "width: 0, height: 0 ",
  // width: '100px'
  // border: "1px solid rgba(140, 140, 140, 0.35)",
  &::-webkit-scrollbar {
    width: 15px;
  }
  @mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    // & {
    //   scrollbar-face-color: $foreground-color;
    //   scrollbar-track-color: $background-color;
    // }
  }
}
