$default-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

.wrapperDoashBoard {
  display: flex;
}
.menuDoashBoard {
  width: 20%;
  height: 100%;
  background: #001529;
  position: fixed;
}
.wrapperContentDoashBoard {
  width: 79%;
  box-shadow: $default-box-shadow;
  padding: 10px;
}
